body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow: auto;
    background-size: cover;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    color: #1b1b1c;
    background-color: #edddcc;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 3px solid #1b1b1c;
    max-width: 650px;
    max-height: 725px;
    min-width: 650px;
    min-height: 725x;
    border-radius: 10px;
    box-shadow: 10px 10px;
    padding: 3px;
    background-color: #f4edf5;
    color: #1b1b1c;
    margin-top: 200px;
}

#calc-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#left-items {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 20px;
}

#display {
    position: relative;
    border: 2px solid #1b1b1c;
    align-self: flex-start;
    border-radius: 10px;
    min-width: 430px;
    min-height: 120px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 0px;
    background-color: #bbdcf2;
}

#display-text {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 60px;
}

.num-buttons {
    max-width: 440px;
    max-height: 700px;
    margin: 0px 0px 20px 0px;
    align-self: stretch;

}

button {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    font-size: 55px;
    width: 135px;
    height: 80px;
    background-color: #f4edf5;
    border-radius: 10px;
    border: 2px solid #1b1b1c;
    color: #1b1b1c;
}

button{
    transition: all 0.15s ease-in-out;
}

button:hover{
    transform: scale(1.1);
}

p {
    align-self: center;
    padding: 0;
    margin: 10px 0px 15px 25px;
    min-width: 625px;
}

.operator-buttons {
    margin: 0px 0px 20px 30px;
    max-width: 105px;
    height: 63.5px;
    font-size: 40px;
    color: #1b1b1c;
}

#back-space {
    margin-top: 35px;
    margin-bottom: 40px;
    height: 68px;
    color: #1b1b1c;
    font-size: 55px;
}

#title {
    text-align: center;
    background-color: #bbdcf2;
    border-radius: 10px;
    margin: 0;
}

#C, #back-space, #equal {
    background-color: #bbdcf2;
}


.footer {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    margin-top:auto;
    color: #1b1b1c;
    margin-left: 150px;
    margin-bottom: 150px;
}